<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ProgettoEscursion</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>verificaPermessiFilter</filter-name>
		<filter-class>it.ats.controllo.filtri.permessi.VerificaPermessiFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>verificaPermessiFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>verificaPermessiClienteFilter</filter-name>
		<filter-class>it.ats.controllo.filtri.permessi.VerificaPermessiClienteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>verificaPermessiClienteFilter</filter-name>
		<url-pattern>/cliente/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>FormRegistrazioneFilter</filter-name>
		<filter-class>it.ats.controllo.filtri.validazioneform.FormRegistrazioneFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FormRegistrazioneFilter</filter-name>
		<url-pattern>/guest/RegistrazioneServlet</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>FormInserisciEscursioneForm</filter-name>
		<filter-class>it.ats.controllo.filtri.validazioneform.FormInserisciEscursioneForm</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FormInserisciEscursioneForm</filter-name>
		<url-pattern>/admin/InserisciEscursioneServlet</url-pattern>
	</filter-mapping>
</web-app>