/*nav-bar*/

      body {
    background: url('../ImgSource/bgImg/index.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}








.fancy-monk {
	font-size: 25px;
	
	margin: 0px;
	text-align: center;
	height: 600px;
	min-height: 400px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}




.btn-dark{
    width:300px;
}



    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
