/*nav-bar*/

      body {
    background: url('../ImgSource/bgImg/index.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  #dedede;
    
}


	.well-header{
         padding: 35px;
         padding-left: 30px;
         box-shadow: 0 0 10px #ffffff;
         background: rgba(255, 255, 255, 0.6);
         margin: 4% auto 0;
         width: 450px;
         height: 350px;
      }

p{
	font-family: 'Comic Sans', coursive;
    font-weight: 1000;
    line-height: initial;
    color: mediumblue;
    font-size: 100%;
}




.fancy-monk {
	font-size: 25px;
	margin: 0px;
	text-align: center;
	height: 600px;
	min-height: 400px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}




.btn-dark{
    width:300px;
}



    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
