body {
    background: url('../ImgSource/bgImg/index.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-default {
		border-color: #66ccff;
		opacity: 1;

	}

	.page-header{
		margin-top: 0px;
		background: white;
		
	}

	#panel{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -100px;
		width: 400px;
		height: 200px;
		border-radius: 25px;
		padding-top: 3%;
		padding-left: 50px;
		background-color: rgba(192, 192, 192, 0.6);
		
	}
	